{% load static%}
<header>
    <div class="logo-contain">
        <!-- Arquivos estáticos -->
        <img src="{% static 'app_principal/images/logo.png' %}" alt="logo">
        <span class="separator">
            /
        </span>
        
        <!-- user logado -->
        <span id="user">
            Olá, {{ user.first_name }}
        </span>
    </div>

    <!-- Link para o perfil do usuário -->
    <a class="user" href="{% url 'mostrar_usuario' user.id %}">
    <img src="{% static 'app_principal/images/avatars/' %}{{ user.first_name|slice:":1"|upper }}.png" alt="user"> 
</a>


    <i class="fa-solid fa-bars" id="btn-menu-mobile"></i>
</header>

<!-- {% static 'app_principal/images/logo.png' %} -->


