{% load static%}
<div class="menu-mobile">
    <nav>

        <a href="{% url 'dashboard' %}">
            <div class="icon">
                <i class="fa-solid fa-chart-simple"></i>
            </div>
            <div class="description">
                dashboard
            </div>
        </a>

        <a href="{% url 'sensores' %}">
            <div class="icon">
                <i class="fa-solid fa-tower-broadcast"></i>
            </div>
            <div class="description">
                sensores
            </div>
        </a>

        <a href="{% url 'dashboard' %}">
            <div class="icon">
                <i class="fa-solid fa-temperature-arrow-up"></i>
            </div>
            <div class="description">
                temperatura
            </div>
        </a>

        {% if user.is_admin %}
            <a href="{% url 'dashboard' %}">
                <div class="icon">
                    <i class="fa-solid fa-users-gear"></i>
                </div>
                <div class="description">
                    gerir usuários
                </div>
            </a>
        {% endif %}

        <a href="{% url 'logout' %}">
            <div class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div class="description">
                sair
            </div>
        </a>
    </nav>
</div>
