{% load static%}
<div class="menu-mobile">
    <nav>

        <a href="{% url 'dashboard' %}">
            <div class="icon">
                <i class="fa-solid fa-chart-simple"></i>
            </div>
            <div class="description">
                dashboard
            </div>
        </a>

        <a href="{% url 'listar_experimento' %}">
            <div class="icon">
                <i class="fa-solid fa-flask"></i>
            </div>
            <div class="description">
                Experimentos
            </div>
        </a>

        <a href="{% url 'sensores' %}">
            <div class="icon">
                <i class="fa-solid fa-tower-broadcast"></i>
            </div>
            <div class="description">
                sensores
            </div>
        </a>

        <a href="{% url 'ultima_leitura' %}">
            <div class="icon">
                <i class="fa-solid fa-stopwatch"></i>
            </div>
            <div class="description">
                última leitura
            </div>
        </a>

        <a href="{% url 'temperatura' %}">
            <div class="icon">
                <i class="fa-solid fa-temperature-arrow-up"></i>
            </div>
            <div class="description">
                temperatura
            </div>
        </a>

        {% if user.is_staff %}
            <a href="{% url 'painel_adm' %}">
                <div class="icon">
                    <i class="fa-solid fa-user-tie"></i> 
                </div>
                <div class="description">
                    Painel do Administrador
                </div>
            </a>
        {% endif %}

        <a href="{% url 'logout' %}">
            <div class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div class="description">
                sair
            </div>
        </a>
    </nav>
</div>
