@import url("variables.css");

.chart-container {
    width: 100%;
    max-width: 1005px;
    background-color: var(--card);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding: 1.5rem;
}

.chart-header {
    margin-bottom: 1.5rem;
    margin-inline: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.chart-title {
    color: var(--theme);
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 700;
}
.status-display-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-flow: row wrap;
}


.status-display {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.status-display svg {
    width: 24px;
    height: 24px;
}


.temperature-display {
    color: #ffc107;
    background-color: rgba(255, 193, 7, 0.1);
    border: 1px solid rgba(255, 193, 7, 0.2);
}


.humidity-display {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.1);
    border: 1px solid rgba(13, 110, 253, 0.2);
}

.chart-subtitle,
.chart-timestamp {
    color: var(--font-sec);
}

.chart-timestamp {
    font-size: 0.875em;
    margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
    .sensor {
        padding: 40px 20px;
        width: 100%;
    }
}
