{% extends "layout/base.html" %}
{% load static %}

{% block title %}Cadastrar Sensor - Admin{% endblock %}

{% block content %}
<div class="card">
  <div class=" shadow-sm border-0">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Cadastrar Novo Sensor</h2>
    </div>

    <div>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.nome.id_for_label }}" class="form-label">Tipo de Sensor</label>
                {{ form.nome }}
          {% if form.nome.errors %}
            <div class="text-danger small">
              {{ form.nome.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="{{ form.funcao.id_for_label }}" class="form-label">Função</label>
          {{ form.funcao }}
          {% if form.funcao.errors %}
            <div class="text-danger small">
              {{ form.funcao.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
            <label for="{{ form.exibir.id_for_label }}" class="form-label">{{ form.exibir.label }}</label>
            {{ form.exibir }}
        </div>

        <div class="text-end">
          <button type="submit" class="submit-button" id="submit-button">
            <i class="fa-solid fa-floppy-disk"></i>
            Salvar
          </button>
          <form action="{% url 'painel_adm' %}" method="get">
            <button type="submit" class="cancel-button" id="cancel-button">
                Cancelar
            </button>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
