{% extends "layout/base.html" %}
{% load static %}

{% block title %}Cadastrar Usuário - Admin{% endblock %}

{% block content %}
<div class="card">
  <div class="shadow-sm border-0">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Cadastrar Novo Usuário</h2>
    </div>

    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="input-name" class="form-label">Nome</label>
          <input type="text" id="input-name" name="first_name" 
                 value="{{ form.first_name.value|default_if_none:'' }}" 
                 placeholder="Informe o nome" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="input-email" class="form-label">E-mail</label>
          <input type="email" id="input-email" name="email" 
                 value="{{ form.email.value|default_if_none:'' }}" 
                 placeholder="Informe o e-mail" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="input-password" class="form-label">Senha</label>
          <input type="password" id="input-password" name="password" 
                 placeholder="Informe a senha" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="input-confirm-password" class="form-label">Confirmar Senha</label>
          <input type="password" id="input-confirm-password" name="confirm_password" 
                 placeholder="Confirme a senha" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="input-role" class="form-label">Privilégios</label>
          <select id="input-role" name="is_staff" class="form-control">
            <option value="False">Usuário</option>
            <option value="True">Administrador</option>
          </select>
        </div>

        <div class="text-end mt-4">
          <button type="submit" class="submit-button" id="submit-button">
            <i class="fa-solid fa-floppy-disk"></i> Salvar
          </button>

          <button class="cancel-button" id="cancel-button">
              <a href="{% url 'painel_adm' %}" class="cancel-button" id="cancel-button">
                Cancelar
              </a>
          </button>
          
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
